<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie SQL</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Movie SQL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('home') }}">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('goto_about') }}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('goto_code') }}">Code</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('goto_bios') }}">Bios</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <img style="float:right; position: relative; margin-right: 0%; margin-top: 0%; transform: translate(0%, 0%); width: auto; height: auto;" src="https://www.mashed.com/img/gallery/the-real-difference-between-regular-popcorn-and-movie-theater-popcorn/intro-1592507709.jpg">
    </div>
    <br>
    <br>
    <div class="header" style="position:absolute; margin-left: 10%; margin-top:0%; transform: translate(0%, 25%); width: 600px;">
    <h1>get the popcorn ready!</h1>
    </div>
    <br>
    <div class="card text-white bg-primary mb-3" style="position: absolute; margin-right: 5%; margin-left: 9%; margin-top:0%; transform: translate(0%, 10%); max-width: 600px; height: auto;">
      <div class="card-header">We think you will enjoy:</div>
      <div class="card-body">
        <h4 class="card-title" style="float:left; position: relative; max-width: 50%">{{data}}</h4>
        <br>
        <img src="https://external-preview.redd.it/_Mrc_ePNlqCq0ntAjTU0oF3ksg7hcNuCrrWs2PexK9Y.jpg?auto=webp&s=6bbc6af0c79a67d560f85eeac80067f838d097c2" style="float:right; position: relative; margin-right: 10%; width: 40%; height: 65%">
        <p class="card-text"></p>
      </div>
    </div>
    </div>  
</body>
</html>
